{% extends "admin/challenges/update.html" %}

{% block header %}
    <div class="alert alert-secondary" role="alert">
        Use following syntax to represent your options in the Message Field:

        single choice:
        <pre>
        - () Option 1
        - () Option 2
        - () ....
        </pre>

        multiple choices:
        <pre>
        - [] Option 1
        - [] Option 2
        - [] ....
        </pre>

        The program will autocomplete the option marks: A, B, C, D, ... in orderly.

        Finally, Fill the mark as Flag. set up one flag for a single choice question, or more for MCQ.
    </div>
    <div class="alert alert-warning">
        Remember to set up the max attempts option
    </div>
{% endblock %}
